@media screen and (min-width:798px) and (max-width:992px) {
   section{
    width: 95vw;
    height: 400px;
   }
   #img{
    float: left;
    width: 50%;
    height: 100%;
    
   }#f{
    display: inline-block;
        position: absolute;
        top: 21%;
        left: 55%;
    
       padding: 10px;


}
form > input[type=submit]{
    width: 300px;
    height: 26px;
    margin: 10px;
    margin-top: 20%;
 }
    
}
@media screen and (min-width:992px)  {
    section{
     width: 80vw;
     height: 400px;
 
    }
    #img{
     float: left;
     width: 50%;
     height: 100%;
     
     
    }#f{
        
        display: inline-block;
        position: absolute;
        top: 12%;
        left: 64%;
    
       padding: 9px;

    }
    form > input[type=submit]{
        width: 250px;
        margin: 10px;
        margin-top: 20%;
        
     }
     
 }