*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 13, 85);

}
section{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50% ,-50%);
    width: 400px ;
    height: 600px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
#img{
    background-image: url(imagem/loguin\ site.jpg);
    width: 100%;
    height: 40%;
    background-position: center ;
background-size: cover;

}

.q {
margin-top: 10px;
margin-left: 15px;
border: 2px solid black;


}
label{
    margin-top: 20%;
    
}

form > input[type=submit]{
   width: 76%;
   height: 30px;
   margin: 10px;
   margin-top: 20%;
}

#isen{
    margin-left: 20px;
    
}#f{
    margin-top: 90px;
    text-align: center;
}